<style>

    form {
        margin: 150px auto;
        padding: 10px;
    }

    input {
        margin: 5px auto;
    }
    
    button{
        margin: 20px;
    }
</style>


<div class="container">
  <form action="" class="needs-validation" novalidate [formGroup] = "form">
      <div class="form-row">
          <div class="col-md-4 mb-3">
              <label for="combustivel">Combustivel</label>
              <input type="text" name="combustivel" id="combustivel" class="form-control" placeholder="Combustivel" formControlName="combustivel">
          </div>
          <div class="col-md-4 mb-3">
            <label for="combustivel">Data</label>
            <input type="text" name="Data" id="Data" class="form-control" placeholder="Data" formControlName="data">
        </div>
        <div class="col-md-4 mb-3">
            <label for="preco">preco</label>
            <input type="text" name="preco" id="preco" class="form-control" placeholder="preco" formControlName="preco">
        </div>
      </div>

      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
   
      
  </form>
</div>


