
<style>
    table, td, th {
        border: 1px solid black;
        margin-top: 50px;
        padding: 15px;
    }

    table {
        border-collapse: collapse;
        width: 90%;
    }

    th {
        height: 50%;
    }

  
</style>

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <tr >
                <td><strong>Municipio:</strong> {{ municipio }}</td>
                
            </tr>
        
            <tr >
                <td><strong>Preço:</strong> R${{precoMuni}} </td>
        
            </tr>
        </table>
    </div>
    
</div>


