@import '~bootstrap/dist/css/bootstrap.min.css';

@media (max-width: 992px) {
    table, td, th {
        margin: 30px auto;
        padding: 5px;
    }


    table {
      
        width: 90%;
    }

    th {
        height: 50%;
    }

    h3 {
        margin-top: 15px;
        font-size: 30px;
    }

    button {
        margin: 10px;
    }
}