<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        .container {
            font-size: 13px;
        }
        table, td, th {
            
            margin: 30px auto;
            padding: 5px;
        }
    
    
        table {
          
            width: 90%;
        }
    
        th {
            height: 50%;
        }

        h3 {
            margin: 20px auto;
            font-size: 30px;
        }


      
    </style>
</head>
<body>

    <div class="container">
        <h3>Dados Agrupados por distribuidora</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
        
                <thead>
                  
                    <tr>
                        <td><strong>Id</strong></td>
                        <td><strong>Sigla da Região</strong></td>
                        <td><strong>Sigla da Estado</strong></td>
                        <td><strong>Municipio</strong></td>
                        <td><strong>Revendedora</strong></td>
                        <td><strong>codInstalacao</strong></td>
                        <td><strong>Produto</strong></td>
                        <td><strong>Data de Coleta</strong>    </td>
                        <td><strong>Valor de Compra</strong></td>
                        <td><strong>Valor de Venda</strong></td>
                        <td><strong>Unidade de Medida</strong></td>
                        <td><strong>Bandeira</strong></td>
                    </tr>
                </thead>
           
                <tbody>
                    <tr *ngFor="let dados of dadosAgrupados | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index">
            
                    <td>{{dados.id}}</td>
                    <td>{{dados.siglaRegiao}}</td>
                    <td>{{dados.siglaEstado}}</td>
                    <td>{{dados.municipio}}</td>
                    <td>{{dados.revendedora}}</td>
                    <td>{{dados.codInstalacao}}</td>
                    <td>{{dados.produto}}</td>
                    <td>{{dados.dataColeta}}</td>
                    <td>{{dados.valorCompra}}</td>
                    <td>{{dados.valorVenda}}</td>
                    <td>{{dados.unidadeMedida}}</td>
                    <td>{{dados.bandeira}}</td>
                    
                </tr></tbody>
                
              </table>
        </div>
        
       
      
        
        
        
        
        
            <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel = "Proximo"></pagination-controls>
          
    </div>
   
</body>
</html>




