
<style>
   table, td, th {
            margin: 30px auto;
            padding: 5px;
        }
    
    
        table {
          
            width: 90%;
        }
    
        th {
            height: 50%;
        }

        h3 {
            margin-top: 15px;
            font-size: 30px;
        }

        button {
            margin: 10px;
        }
  
</style>

<div class="container">
    <h3>Historico de preço</h3>
    <table class="table table-striped table-bordered table-hover">

        <thead>
            <tr >
                <td><strong>id</strong></td>
                <td><strong>Combustivel</strong></td>
                <td><strong>Data</strong></td>
                <td><strong>Preco</strong></td>
            </tr>
        </thead>
     
        <tbody>
            <tr *ngFor="let historico of historicoCombustivel">
                <td>{{historico.id}}</td>
                <td>{{historico.combustivel}}</td>
                <td>{{historico.data}}</td>
                <td>{{historico.preco}}</td>
                <td>
                    <a [routerLink]="['novo-historico']"  ><button class="btn btn-success" type="button">Criar</button></a>
                    <button class="btn btn-warning" type="button" (click)="onEdit(historico.id)">Atualizar</button>
                    <button class="btn btn-danger" type="button">Deletar</button>
                </td>
            </tr>
        </tbody>
     
    </table>
</div>


