<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
<style>

    
    .container {
        font-size: 14px;
    }
    table, td, th {
            
            margin: 30px auto;
            padding: 5px;
        }
    
    
        table {
            
            width: 90%;
        }
    
        th {
            height: 50%;
        }

        h3 {
           margin: 20px auto;
            font-size: 30px;
        }

  
</style>

</head>
<body>

    <div class="container">
        <h3>Valor médio de compra e venda</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead >
                <tr >
                    <td><strong>Atributo</strong></td>
                    <td><strong>Valor medio de Compra</strong></td>
                    <td><strong>Valor medio de Venda</strong></td>
                </tr>
            </thead>
        
            <tbody>
                <tr *ngFor="let preco of precoMedio">
                    <td>{{preco.atributo}}</td>
                    <td>{{preco.mediaValorCompra}}</td>
                    <td>{{preco.mediaValorVenda}}</td>
                </tr>
            </tbody>
        
        
        </table>
    </div>
    

   

    
</body>
</html>

